<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1"> <i class="far fa-moon"></i>ocktails  <i class="fas fa-cocktail"></i></span>
  <p><%= link_to 'Make new Cocktails', new_cocktail_path %></p>
</nav>
<div class="container-main">
  <h1> A lot can happen with just one drink </h1>
  <div class='cards'>
    <% @cocktails.each do |cocktail| %>

      <div class="card-individual">
        <img class="card-img-top" src="https://www.davidlebovitz.com/wp-content/uploads/2018/05/Strawberry-Margaritas-10.jpg">

        <div class="card-body">
          <h3><%= cocktail.name %></h3>
          <p class="card-text"> <%= cocktail.description %></p>
        </div>

        <div class="card-body2">
          <%= link_to 'See Details', cocktail_path(cocktail) %>
        </div>

      </div>
    <% end %>

  </div>
</div>
