<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1"><i class="far fa-moon"></i>ocktails <i class="fas fa-cocktail"></i></span>
  <p><%= link_to 'Back to Main', cocktails_path %></p>
</nav>
<div class="container-form">
  <%= render "form", cocktail: @cocktail %>
</div>
