// Specific CSS for your home-page
body {
  background-color: white;
}
#banner-typed-text {
  letter-spacing: 5px;
  width: 100%;
}
.container-form {
  width: 500px;
  margin: 30px;
}

.container-show {
  display: flex;
  margin: 5px;
  padding: 5px;
  width: 800px;
  justify-content: space-around;
  align-items: center;
}
.card-show {
  flex-grow: 1;
  grid-gap: 16px;
  padding: 15px 10px;
  background-color: #CACFD2;
  border-radius: 4px;

}

.container-main {
  text-align: center;
}
.card-individual {
  width: 300px;
  margin: 10px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230,230,230);
  border: 1px solid rgb(230,230,230);
}

.cards {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}
.card-body {
  background-color: #f8f9fa;
  height: 200px;
  overflow: hidden;
  padding: 10px;
  margin: 5px
}
.card-body2 {
  margin-bottom: 5px;
}

@media (max-width: 800px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

/* Container media queries */
@media (min-width: 500px) {
  .container {
    width: 400px;
  }
}



a {
  text-decoration: none;
  color: grey;
   &:hover {
     background-color: grey;
     color: white;
     text-decoration: none;
     border-radius: 12px;
     opacity: .5;
    }
}

.button {
  background-color: #483d8b;
  color: white;
  padding: 10px 10px;
  border-radius: 15px;
  display: inline-block;
  text-decoration: none;
  transition: .3s;
  font-size: 15px;
}

.button:hover {
  background-color: #483d8b;
  opacity: .5;
  color: white;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
